html {
    margin: 0;
    background: url(https://www.ighgroup.com/minsur/img/contrata.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}